/*  your css code here. If applicable */
    .title{
        color: black;
        text-align: center;
      }
.book{
        background-color: #e1dcdc;
      }
      body {
        color: #f8f8f8;
      }
      .book-library {
        background-color: #ffffff;
		    flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
      }
      .author {
        color: #777777;
      }
      p {
        color: black;
      }
      .Price-block {
        text-align: center;
        background-color: #2ecc71;
		   border-radius: 5px;
      }
.book-name{
	color:black;
}
  img {
        display: flex;
        text-align: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        padding: 10px 230px;
      }